# Ignore all XML and IML files
*.xml
*.iml

# PyCharm IDE specific files
.idea/
.shelf/
.workspace.xml
.httpRequests/

# Data source settings
.dataSources/
.dataSources.local.xml

# Python cache files
__pycache__/
*.py[cod]

# Virtual environments
venv/
.env/
.venv/
env/
ENV/

# Jupyter notebook checkpoints
.ipynb_checkpoints

# Pytest cache
.pytest_cache/

# Coverage reports
.coverage
coverage.xml
htmlcov/

# Build and Distribution files
build/
dist/
*.egg-info/
.eggs/

# Logs and debug outputs
*.log
*.sqlite

# Misc OS Files
.DS_Store
Thumbs.db
*.env